#pagecontainer {
	width: 760px;
}

#welcome {
    position: relative;
    background: #000 url("../images/white-brick.png") top center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

#welcome-message {
	margin-top: 200px;
}
.news-cycle {
	font-family: 'Playfair Display', sans-serif;
}

#tagline {
	font-size: 30pt;
}

.aboutus-container {
	margin: 10%;
}

.budgeting-container {
    margin: 10%;
}
.apartments-container {
    margin: 10%;
}
.calendar-container {
    margin: 10%;
}
.roomieadvice-container {
    margin: 10%;
}
}

#success_message{ display: none;}